/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DCDCDC;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #02012b;
    padding: 10px 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links a {
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #bba166;
}

/* Hero */
.hero {
    background-image: url('LogoSF.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #bba166;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #02012b;
}

/* Seções */
section {
    padding: 60px 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Servicos */
.servicos {
    background-color: #f8f8f8;
}

.servico-item {
    margin-bottom: 20px;
}

/* Portfólio */
.portfolio-gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Contato */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    align-self: flex-start;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

#depoimentos .depoimentos-lista {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

#depoimentos .depoimento {
  padding: 5px;
  border-radius: 8px;
  flex: 1;
  text-align:center;
  font-family: Georgia, serif;
}

.hero2 {
    background-image: url('Benef.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  transition: transform 0.3s ease;
}

.whatsappButton:hover {
  transform: scale(1.1);
}

.whatsappButton img {
  width: 50px;
  height: 50px;
}
