/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dfebf7;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
.navbar {
    top: 0;
    width: 100%;
	max-width: 100%;
    background-color: #02012b;
    padding-top: 2px 0;
    z-index: 1000;
	text-align:center;
	align-items: center;
	padding-left:15%;
	
}

#nav1 {
	width:20%;
	height:100%;
	text-align:left;
}



/* Hero */
.hero {
    background-image: url('foto2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: left-side;
    align-items: center;
    text-align: left-side;
	opacity: 0.5;

}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.foto{
	width:50%;
	float:left;
}


#espaco{
	width:100%;
	height:60px;
	background-color:#000000;
	
}

#texto {
	width:60%;
	text-align:center;
	font-family:coursive;
	margin:0 auto;
	
}

#texto2 {
	width:90%;
	text-align:center;
	font-family:coursive;
	margin:0 auto;
	font-size:20px;
	
}

#texto3 {
	width:90%;
	text-align:center;
	font-family:coursive;
	margin:0 auto;
	font-size:20px;
	
}

.cta-button {
    padding: 10px 20px;
    background-color: #02012b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #bba166;
}

/* Seções */
section {
    padding: 60px 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Servicos */
.servicos {
    background-color: #46566d;
	display: flex;
    flex-wrap: wrap;
}

.servico-item {
    margin-bottom: 20px;
	display: flex;
    flex-wrap: wrap;
}

/* Portfólio */
.portfolio-gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Contato */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.perguntas{
	  width: 100%;
      margin: 0 auto;
}

button {
    align-self: flex-start;
	
	
}

.container2 {
    width: 80%;
    margin: 0 auto;
	border:solid 2px;
	border-color:#bba166;
	padding:5%;
	border-radius:20px;
	font-size:16px;
}

.toggle-button {
      background-color: #f8f8f8;
      border: none;
      padding: 10px;
      width: 100%;
      text-align: left;
      cursor: pointer;
	  border-radius:5px;
	  margin-top:1%;
	  border:solid 1px;
	  border-color:#bba166;
	  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	  font-size:16px;
	  color:#02012b;
	  
	  
    }
    .toggle-button:after {
      content: '+';
      float: right;
    }
    .toggle-button.active:after {
      content: '-';
    }
    .content2 {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-out;
      background-color: #f9f9f9;
      padding: 0 10px;
	  
    }
    .content2 p {
      margin: 10px 0;
    }


/* Footer */

.footer {
    text-align: center;
    padding: 20px;
    background-color: #02012b;
    color: #bba166;
}

.meutrabalho {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
    }

.content, .image {
      flex: 1;
      min-width: 300px; /* Para manter as divs legíveis em telas pequenas */
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
}


.image img {
    max-width: 100%;
    height: auto;
	border-radius:5;
}


#comoajudar {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.dep{
	  width: 100%;
      margin: 0 auto;
}

.carrossel {
      width: 100%;
      max-width: 800px;
      overflow: hidden;
      position: relative;
	  margin: 0 auto;
    }

    .depoimentos {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .depoimento {
      flex: 0 0 100%;
      opacity: 0.5;
      padding: 20px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #46566d;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: scale(0.9);
      transition: opacity 0.5s, transform 0.5s;
	  font-family: Georgia, serif;
	  color:#f8f8f8;
 
    }

    .depoimento.central {
      opacity: 1;
      transform: scale(1);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .nome {
      margin-top: 10px;
      font-weight: bold;
      color: #bba166;
    }

    .botoes {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }

    .botao {
      padding: 10px 20px;
      font-size: 1rem;
      color: #02012b;
      background-color: #bba166;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .botao:hover {
      background-color: #46566d;
    }

@media (max-width: 768px) {
  .portfolio-gallery {
    flex-direction: column;
    gap: 10px;
  }
  

}

.whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  transition: transform 0.3s ease;
}

.whatsappButton:hover {
  transform: scale(1.1);
}

.whatsappButton img {
  width: 50px;
  height: 50px;
}